*
{
	margin: 0;
	padding: 0;
}
.container
{
    height: 550px;    
    display: flex;
    justify-content: center;
    align-items: center; 
}
.main
{
	position: relative;
	background-image: linear-gradient(45deg, #f046ff ,#9b00e8);
	border-radius: 25px;
	height: 100%;
	padding: 25px;
	color:rgb(192,192,192);
	font-size: 15px;

	box-sizing: content-box;
    width: 400px

}
.button-box
{
	width:150px;
	margin:25px auto;
	position: relative;
	box-shadow: 0 0 20px 6px white;
    border-radius:25px;
    background-color: white;

}
.toggle-btn
{
	padding:10px 30px;
	cursor:pointer;
	background: transparent;
	outline: none;
    border: none;
	position: relative;
	border-radius: 20px;
	background-color:white;
	color:#9b00e8;
	font-weight: 500
}
.toggle-btn:focus
{
	outline:none;
	background-image: linear-gradient(45deg, #f046ff ,#9b00e8);
	transition: .5s;
	color: white
}

.row
{
	height: 100%
}
.myCard
{
	position: relative;
	background: #fff;
	border-radius: 25px;
	-webkit-box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.7);
	-moz-box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.7);
	box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.7);
}
.myInput
{
	width:300px;
    border-radius: 25px;
    padding:10px;
    padding-left: 20px;
    border: none;
    -webkit-box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.7);
	-moz-box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.7);
	box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.7);
	margin-bottom: 8px
}
/*.expire
{
	width:100px;
	border-radius: 10px;
}*/
/*label
{
	color: white;
	font-size: 18px
}*/
/*.left
{
	float:left;
	margin-left:30px;
}
.right
{
	float:right;
	margin-right:35px;
}*/
.myInput:focus
{
	outline:none;

}

.myForm
{
	position: relative;
	margin-top:30px;
}
.butt
{
	width:100px;
	border:none;
	border-radius: 8px;
	padding: 7px;
	-webkit-box-shadow: 0px 10px 41px -11px rgba(0,0,0,0.7);
	-moz-box-shadow: 0px 10px 41px -11px rgba(0,0,0,0.7);
	box-shadow: 0px 10px 41px -11px rgba(0,0,0,0.7);
	color:#9b00e8;
	font-size: 17px;
	font-weight: 500
}
.butt:focus
{
	outline:none;
}
.butt:hover
{
   color:white;
   background-image: linear-gradient(45deg, #f046ff ,#9b00e8);
   border:3px solid #fff;
}
.check
{
	position: relative;
	right: 80px;
}